#parent div {
    border:2px solid #000;
}

@media screen and (min-width:980px) {
    #parent div , #parent .one , #parent .two , #parent .three , #parent .four #parent .five {
        max-height:8vw !important;
    }
}

#parent .one {
    width:100vw;
    height:100vw;
}

#parent .two {
    width:50vw;
    height:50vw;
}

#parent .three {
    width:33.33vw;
    height:33.33vw;
}

#parent .four {
    width:25vw;
    height:25vw;
}

#parent .five {
    width:20vw;
    height:20vw;
}